body {
    height: 100vh;
    margin: 40px 0px 0px 0px;
    
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .stopwatch{
    border: 3px solid black;
    padding: 40px;
    background-color: #93c1e6;
  }
 
   
  .display {
    display: flex;
   /* left: 50%; */
    align-items: center;
    justify-content: center;
    font-family: "nunito", "poppins", sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: white;
    /*text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);*/
  }
  
  p {
    margin: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
  }
  
  button {
    cursor: pointer;
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #3b85ed;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    box-shadow: 3px 3px 0px #224f8f;
    margin: 10px;
  }
  
  button:hover {
    background-color: red;
    /*#224f8f;*/
  }
  h1{
    text-align: center;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
    font-size: 2.3rem;
  }
  
  h2 {
    position: sticky;
    background-color: #b9eb69;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgb(160, 243, 93);
  }
  
  #header {
    width: 100%;
    height: 100px;
    position: sticky;
  }
  
  #laps {
    margin-top: 40px;
    height: 400px;
    scroll-behavior: smooth;
  }
  #lapRecord{
    text-align: center;
    font-size: 1.2rem;
  }